[submodule "schemes"]
	path = schemes
	url = https://github.com/Ricsi1231/WRO-Robot-Hardware
[submodule "models"]
	path = models
	url = https://github.com/Ricsi1231/WRO-Robot-Mechanical
[submodule "src"]
	path = src
	url = https://github.com/Ricsi1231/WRO-Robot-Software
